* {
    padding: 0px;
    margin: 0px;
}

img {
    width: 60%;
    height: 80%;
}

#all {
    width: 1000px;
    height: 1000px;
    background-color: grey;
}

#tabla {
    border: 5px;
    border-color: black;
    margin: 10px;
}
table, th, td {
    border: 5px solid black;
  }

#encabezado {
    width: 1000px;
    
}
.head {
    width: 300px;
    display: inline-block;
}
.txhead {
    display: inline-block;
    background-color: gray;
}

h1 {
    display: inline-block;
    text-align: center;
}

.white {
    background-color: aqua;
}
.rose {
    background-color: coral;
}